body {
    background: linear-gradient(to right, #060606, #21211f, #272f31);
}
.horizontal-bar {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 20px;
}
.logo {
    width: 300px;
    height: 150px;
    margin-right: 20px; 
    overflow: hidden;
}
.logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav-item {
    color: rgb(140, 140, 141);
    font-size: 1.5em;
    border: none;
    background-color:transparent;
    transition:  transform  0.1s ease; 
}
.nav-item:hover{
    color: aliceblue;
}
#contactId{
    margin-left:100px;
}
.nav-center{
    margin-right: auto;
    margin-left: auto;
}
.nav-login{
    color: rgb(140, 140, 141);
    font-size:1.8em;
    font-family: Lato;
    font-weight: bold;
    background-color: transparent;
    border: none;
    margin-right:100px;
    transition:  transform  0.1s ease; 
}
.nav-login:hover{
    color: aliceblue;
}
.nav-reg{
   margin-right:20px;
   font-size: 1.7em;
   font-family: Lato;
   font-weight: bold;
   color: aliceblue;
   border: none;
   background-color:black;
   padding: 10px 20px;
   transition:  transform  0.1s ease; 
}
.nav-reg:hover{
    box-shadow: 0 0 10px 5px rgba(3, 89, 108, 0.8); 
}
.login-reg{
    justify-content:flex-end;
    display: flex;
}
/*end of bar*/
h1{
    font-size:3em;
    color: aliceblue;
    text-align: center;
    margin-top: 150px;
}
.center-btn{
    text-align: center;
    margin-top: 50px;
}
.nav-art{
    font-size: 1.7em;
    font-family: Lato;
    font-weight: bold;
    color: aliceblue;
    border: none;
    background-color:black;
    padding: 10px 20px;
    transition:  transform  0.1s ease; 
}
.nav-art:hover{
    box-shadow: 0 0 10px 5px rgba(3, 89, 108, 0.8); 
}